/* Header */


.navhaut {
    background-color: rgb(22, 108, 165);
    display: flex;
    flex-direction: row;
    list-style: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
}
.navhaut li{
    margin-right: 50px;
}
.navbarli {
    position: relative;
    left:54%;
}
.abonner{
    background-color: red;
    padding: 5px;
    position: relative;
    border: 1px solid red;
    border-radius: 4px;
    color: white;
}
.mediumo {
    position: relative;
    left:50%;
}
.inscrire span{
    margin-left: 5px;

}

.connecter span{
    margin-left: 5px;

}
.searchbar {
    position: relative;
}

.searchbar_input {
    padding-left: 30px;
    width: 300%;
    height: 30px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 20px;
}

.navbas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding: 10px;
    box-shadow: 0px 15px 10px -15px #111;    
}

.navbas li{
    margin-right: 50px;
}

/* Main*/


.main {

    margin: 0 auto;
    width:60%; display: flex;
    background-color: aqua;
    flex-direction: column;
    margin-top: 20px;
    padding:30px;

}

/* This is purely for the demo */
.video_container {
   width: 100%;
  }

  .video_container ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
   }

.lecon_active {
    color: red;
}
   .video_container ul li {
margin-right: 20px;
font-weight: bold;
font-size: 25px;
     }
  #video {
    width: 100%;
  }
 
/* aside */

.leftside {
    position: absolute;
    top: 145px;
    left:4%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.lefside_ul1 {
    list-style: none;
    border-bottom: 1px solid rgb(214, 194, 194);
}
.lefside_ul2 {
    list-style: none;
}

.leftside ul li{
    margin: 20px;
}

.leftside ul li span {
    padding: 5px;
}

.leftside h4 {
    text-align: center;
}